<header class="bg-slate-800 text-white p-2 flex">
    <input type="checkbox" id="dropdown-toggle" class="hidden">
    <label for="dropdown-toggle" 
        class="dropdown-button inline-block px-4 cursor-pointer">Todo-List</label>
    <div 
        class="dropdown-content left-full -translate-x-5 opacity-0 duration-700 transition-transform">
        <a href="/" class="">Home</a>
        <a href="/checklists" class="">Tasks</a>
        <a href="#" class="">About me</a>
    </div>
</header>