<%- include('../layouts/header', { title: 'Todo-List'})%>
    <section class="bg-violet-600 h-screen">

        <div class="flex flex-col justify-center items-center my-48">
            <h1 class="font-bold text-xl text-white">Todo-List</h1>
            <p class="font-semibold text-white">Manage your daily checklist</p>
            <a 
            href="/checklists"
            class="bg-slate-50 text-black p-2 font-semibold rounded-md mt-2 hover:bg-slate-200 hover:cursor-pointer">
            Go to checklists
        </a>
    </div>
    
    </section>
<%- include('../layouts/footer')%>